spring:
  application:
    name: fraud-service
  
  # Database Configuration - Fraud Database
  datasource:
    url: jdbc:postgresql://localhost:5432/fraud_db
    username: rahul
    password: Lionelmessi10@  
    driver-class-name: org.postgresql.Driver
    
    hikari:
      maximum-pool-size: 15
      minimum-idle: 5
      connection-timeout: 30000
      pool-name: FraudServicePool
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    root: INFO
    com.payment: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG