spring:
  application:
    name: settlement-service
  
  # Database Configuration - Settlement Database
  datasource:
    url: jdbc:postgresql://localhost:5432/settlement_db
    username: rahul
    password: ${POSTGRES_PASSWORD:}
    driver-class-name: org.postgresql.Driver
    
    hikari:
      maximum-pool-size: 15
      minimum-idle: 5
      connection-timeout: 30000
      pool-name: SettlementServicePool
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public

server:
  port: 8084

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    root: INFO
    com.payment: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG

settlement:
  bank-transfer:
    provider: mock # mock | http
    mock:
      failure-rate-percent: 2
    stripe:
      base-url: ${STRIPE_API_BASE_URL:https://api.stripe.com}
      transfer-path: ${STRIPE_CONNECT_TRANSFER_PATH:/v1/transfers}
      secret-key: ${STRIPE_SECRET_KEY:}
      destination-account-default: ${STRIPE_CONNECT_DESTINATION_ACCOUNT_DEFAULT:}
    http:
      base-url: ${BANK_TRANSFER_API_BASE_URL:}
      transfer-path: ${BANK_TRANSFER_API_TRANSFER_PATH:/v1/transfers}
      api-key: ${BANK_TRANSFER_API_KEY:}
      auth-header: ${BANK_TRANSFER_AUTH_HEADER:Authorization}
      auth-prefix: ${BANK_TRANSFER_AUTH_PREFIX:Bearer }
      timeout-ms: ${BANK_TRANSFER_TIMEOUT_MS:5000}
